.curved-mask-top {
    z-index: -1;
    height: 70px;
    background-position: 50% 100%;
    background-image: url('./../../assets/mask.svg');
    background-size: cover;
    position: absolute;
    top: auto;
    bottom: -2px;
    left: 0;
    right: 0;
}
